<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>File upload</title>
</head>
<body>
<h1>Upload files</h1>

<form action="http://localhost:8080/users/e585129f-22bb-4a7d-a3ee-1ddf825bfa58/images" method="post" enctype="multipart/form-data">
   <table>
       <tr>
           <td>Name:</td>
           <td><input type="text" name="name"></td>
       </tr>
       <tr>
           <td>Description:</td>
           <td><input type="description" name="description"></td>
       </tr>
       <tr>
           <td>Url:</td>
           <td><input type="url" name="url"></td>
       </tr>
       <tr>
           <td>Files:</td>
           <td><input type="file" name="image"></td>
       </tr>
       <tr>
           <td></td>
           <td align="right"><input type="submit" value="Submit"></td>
       </tr>
   </table>
</form>
</body>
</html>